@media (max-width:600px) {
    .main{
        padding: 0% 0%;
        width: 100vw;
        overflow-x: hidden;
        height: 500vh;
        overflow-y: scroll;
    }
    .main{
     scroll-behavior: smooth;
    }
}

